<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
<footer class= "footer-basic">
<div class="footer">
<div class="row icon-row">
<a href="https://github.com/AndriiPuz"><i class="fa fa-github"></i></a>
<a href="https://instagram.com/to.dex?igshid=ZDdkNTZiNTM="><i class="fa fa-instagram"></i></a>
<a href="https://t.me/T0_deXx"><i class="fa fa-telegram"></i></a>
<a href="https://ua.linkedin.com/in/andrii-puzyr-884766221"><i class="fa fa-linkedin"></i></a>
</div>

<div class="Copyright" style="color: white">
 © 2023 By: Andrii Puzyr
</div>
</div>
</footer>