.header-basic {
  position: fixed;
  top: 0;
  width: 100%;
}

.header{
  background: rgb(138, 137, 137);
  padding:20px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
}

.container-fluid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.title_name {
  color: rgb(17, 17, 17);
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
  margin: 0 0 0 10px;
}

.title_name:hover {
  color:rgb(183, 196, 207);
}